# Variables y Operadores

1. Variables
2. Operadores Aritmeticos
3. Operadores Relacionales 
4. Operadores Logicos

In [2]:
# Variables 
var1 = 4
va2 = var1
var3 = 5.6
var4 = 'Hola'
var5 = "Hola Alumnos Smart"
var6 = 'c'
var7 = "65"

In [3]:
var1

4

In [6]:
va2

4

In [7]:
print(var3, var4,var5,var6,var7)

5.6 Hola Hola Alumnos Smart c 65

In [8]:
print("El valor de la primera variable es: ", var1)

El valor de la primera variable es:  4

In [9]:
print("Hola como estas " + "Tocayo")

Hola como estas Tocayo

In [11]:
print("El valor de la variable " + str(var3))

El valor de la variable 5.6

In [12]:
print("El valor de la variable es: ",var3)

El valor de la variable es:  5.6

In [13]:
cadena_texto = "Hola como estas " + "Jose Angel"

In [14]:
cadena_texto

'Hola como estas Jose Angel'

## Operadores Aritmeticos

In [16]:
# Suma (+)
valor_1 = 5
valor_2 = 10
suma = valor_1 +  valor_2

In [17]:
suma

15

In [18]:
print("La suma es:", suma)

La suma es: 15

In [19]:
print("La suma es: " + str(suma))

La suma es: 15

In [20]:
# Resta (-)
valor_1 = 10
valor_2 = 5
resta = valor_1 - valor_2

In [21]:
print("La resta es: " + str(resta))

La resta es: 5

In [22]:
valor_1

10

In [23]:
valor_1 = 50

In [24]:
valor_1

50

In [25]:
# Multiplicción (*)
valor_1 = 45 
valor_2 = 50
multi = valor_1 * valor_2

In [26]:
print('La Multiplicación es: ', multi)

La Multiplicación es:  2250

In [29]:
# Division (/)
valor_1 = 1
valor_2 = 5
division = valor_1 / valor_2
division

0.2

In [28]:
division

0.2

In [30]:
# División entera
valor_1 = 1
valor_2 = 5
division_entera = valor_1 // valor_2
division_entera

0

In [37]:
# Potencia (**)
valor_1 = 5 
valor_2 = 2
potencia = valor_1 ** valor_2
potencia

25

In [39]:
# Modulo (%)
valor_1 = 11
valor_2 = 2

modulo = valor_1 % valor_2
modulo

1

## Expresiones

In [40]:
valor_1 = 10
valor_2 = 20
valor_3 = 4.5
resultado = valor_1 + valor_2 * valor_3
resultado

100.0

In [41]:
valor_1 = 10
valor_2 = 20
valor_3 = 4.5
resultado = (valor_1 + valor_2) * valor_3
resultado

135.0

In [42]:
valor_1 = 10
valor_2 = 20
valor_3 = 4.5
resultado = valor_1 / valor_2 * valor_3
resultado

2.25

## Operadores Relacionales

| Operador | Descripción | 
| --- | --- | 
| < | Menor que | 
| > | Mayor que | 
| <= | Menor o igual que | 
| >= | Mayor o igual que |
| == | igual que |
| != | Diferente que |

In [43]:
resultado = 4>3
resultado

True

In [44]:
valor_1 = 10
valor_2 = 3

resultado = valor_2 + 3 > valor_1
resultado

False

In [45]:
valor_1 = 5 
valor_2 = 10

valor_2 == valor_1

False

In [46]:
valor_1 != valor_2

True

## Operadores Logicos 

| Operador | Descripción | 
| --- | --- | 
| not | Not | 
| AND | Y | 
| OR| O |

In [48]:
resultado = not(3*2 + 3 >=4) and (3==3 or 5!=3) and True or False 
resultado

False